html,body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

#home{

    background-image: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .5)),url(../images/mainBkgrd.jpg);
    display:table;
    height:100%;
    position:relative;
    width:100%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;



}
